---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bedankt voor het aanmelden">
  <main>
    <header>
      <div class="logo-wrapper">
        <a class="link" href="/">
          <svg
            width="268"
            height="83"
            viewBox="0 0 268 83"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M29.1677 1.20761L30.917 1.18934C57.1247 1.18934 70.6856 33.2647 52.0744 51.6487C33.4627 70.033 0.990723 56.6378 0.990723 30.7502L0.990723 3.53519C0.990723 2.90267 1.24557 2.29676 1.6994 1.85047C2.15282 1.40457 2.76783 1.15519 3.40777 1.15837L14.583 1.20761H29.1677ZM30.2031 19.3954H24.6258L21.8454 19.3831C21.205 19.3803 20.5904 19.6297 20.1366 20.0756C19.6832 20.5219 19.4283 21.1278 19.4283 21.7603V30.693C19.4283 40.5921 31.8456 45.7146 38.9625 38.6846C46.0798 31.6543 40.8939 19.3886 30.872 19.3886L30.2031 19.3954Z"
              fill="#343EEA"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.7633 58.5822H6.18601C6.18601 58.5822 5.19516 58.5778 4.07857 58.573C3.26035 58.5693 2.47425 58.8879 1.89428 59.4582C1.31431 60.0285 0.988281 60.8035 0.988281 61.6119C0.988281 64.6646 0.988281 69.8794 0.988281 69.8794C0.988281 79.779 13.4057 84.9014 20.5229 77.8711C27.6399 70.841 22.4542 58.5752 12.4322 58.5752L11.7633 58.5822Z"
              fill="#BD4BF2"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.3773 73.1558C15.5698 71.0577 8.59887 65.9821 4.58398 58.8107C5.0977 58.6479 5.63835 58.5642 6.18784 58.5665H11.766L12.4353 58.5594C20.4554 58.5594 25.3783 66.4149 23.3773 73.1558Z"
              fill="url(#paint0_linear_261_136)"></path>
            <path
              d="M78.3239 21.9281V19.0873H82.9235C83.5388 19.0873 84.0728 18.9753 84.5587 18.7513C85.0445 18.5274 85.4169 18.2059 85.7083 17.7836C85.9836 17.3613 86.1298 16.8559 86.1298 16.2656C86.1298 15.6754 85.9836 15.1683 85.7083 14.746C85.4169 14.3253 85.0445 14.0022 84.5587 13.7783C84.0728 13.5559 83.5388 13.4439 82.9235 13.4439H78.3239V10.603H83.3283C84.5752 10.603 85.7085 10.8334 86.7125 11.2973C87.7004 11.7596 88.4938 12.4137 89.0768 13.2567C89.6597 14.1013 89.9513 15.1026 89.9513 16.2607C89.9513 17.4156 89.6597 18.417 89.0768 19.2664C88.4938 20.1142 87.7004 20.77 86.7125 21.2339C85.7085 21.6962 84.5752 21.9281 83.3283 21.9281H78.3239ZM75.5225 28.5953V10.603H79.3447V28.5953H75.5225Z"
              fill="#02007E"></path>
            <path
              d="M102 28.8642C100.591 28.8642 99.2792 28.6259 98.0485 28.1508C96.8178 27.6741 95.7328 27.0135 94.8098 26.1673C93.8867 25.3195 93.1744 24.3342 92.6401 23.2112C92.1219 22.0867 91.8628 20.8758 91.8628 19.5801C91.8628 18.2781 92.1215 17.0688 92.6559 15.9523C93.1903 14.8342 93.9195 13.8537 94.8588 13.0091C95.798 12.1645 96.8985 11.5071 98.1616 11.0384C99.4247 10.5681 100.769 10.3346 102.227 10.3346C103.862 10.3346 105.368 10.6112 106.728 11.1663C108.088 11.7198 109.222 12.4988 110.129 13.5017L107.538 15.8627C106.922 15.1157 106.161 14.5479 105.238 14.1576C104.332 13.7673 103.311 13.5721 102.21 13.5721C100.947 13.5721 99.8298 13.8232 98.8582 14.3271C97.8866 14.8294 97.1418 15.5317 96.5912 16.4322C96.0568 17.3312 95.7815 18.3789 95.7815 19.5738C95.7815 20.7671 96.0568 21.8196 96.5912 22.7282C97.1256 23.6367 97.8703 24.3469 98.7933 24.8588C99.7164 25.3706 100.785 25.6266 101.967 25.6266C103.214 25.6266 104.267 25.4187 105.158 25.0028C106.048 24.5869 106.728 23.9727 107.198 23.1601C107.667 22.3475 107.894 21.3541 107.894 20.1817L110.388 21.7364L101.741 21.6725V18.6332H111.83V19.1323C111.83 21.2774 111.408 23.0737 110.566 24.5197C109.708 25.9657 108.558 27.0503 107.085 27.7765C105.595 28.5011 103.911 28.8642 102 28.8642Z"
              fill="#02007E"></path>
            <path
              d="M117.561 28.5953V25.7544H122.728C123.651 25.7544 124.379 25.4984 124.897 24.9897C125.399 24.4795 125.658 23.8732 125.658 23.1694C125.658 22.6959 125.545 22.2608 125.318 21.8673C125.075 21.4722 124.752 21.1603 124.315 20.9299C123.877 20.6996 123.343 20.5844 122.728 20.5844H117.561V17.782H122.306C123.1 17.782 123.715 17.5996 124.201 17.2381C124.67 16.875 124.913 16.3328 124.913 15.613C124.913 14.8915 124.67 14.3493 124.201 13.9878C123.715 13.6247 123.1 13.4439 122.306 13.4439H117.561V10.603H122.76C124.072 10.603 125.172 10.8206 126.063 11.2589C126.937 11.6956 127.618 12.2666 128.056 12.9736C128.509 13.679 128.736 14.4501 128.736 15.2867C128.736 16.3136 128.395 17.1997 127.715 17.9419C127.035 18.6842 126.031 19.236 124.72 19.5991L124.897 18.4666C126.355 18.8409 127.488 19.4599 128.282 20.3221C129.075 21.1827 129.48 22.2193 129.48 23.4317C129.48 24.3867 129.221 25.2536 128.703 26.0326C128.185 26.81 127.44 27.4323 126.452 27.8978C125.464 28.3617 124.266 28.5953 122.873 28.5953H117.561ZM114.76 28.5953V10.603H118.565V28.5953H114.76Z"
              fill="#02007E"></path>
            <path
              d="M79.9708 57.9386V52.82H89.8167C91.1446 52.82 92.3433 52.5753 93.3796 52.0874C94.416 51.5995 95.242 50.9037 95.8411 50C96.4403 49.0978 96.7473 48.0245 96.7473 46.78C96.7473 45.5355 96.4403 44.4605 95.8411 43.5584C95.242 42.6546 94.416 41.9604 93.3796 41.4709C92.3433 40.983 91.1446 40.7399 89.8167 40.7399H79.9708V35.6212H90.1567C92.6344 35.6212 94.8531 36.0819 96.8287 37.0033C98.8043 37.9247 100.359 39.2171 101.492 40.8823C102.642 42.5491 103.209 44.5101 103.209 46.7703C103.209 49.0289 102.642 50.9933 101.492 52.6665C100.359 54.338 98.8043 55.6353 96.8287 56.5567C94.8531 57.478 92.6344 57.9386 90.1567 57.9386H79.9708ZM75.5176 71.452V35.6212H81.995V71.452H75.5176Z"
              fill="#02007E"></path>
            <path
              d="M114.859 34.5974H108.667V71.452H114.859V34.5974Z"
              fill="#02007E"></path>
            <path
              d="M133.055 71.9638C130.61 71.9638 128.407 71.4008 126.431 70.2747C124.455 69.1485 122.901 67.6209 121.767 65.6934C120.618 63.7643 120.051 61.6065 120.051 59.2183C120.051 56.795 120.618 54.6195 121.767 52.692C122.901 50.7629 124.455 49.2273 126.431 48.0852C128.407 46.9415 130.61 46.3704 133.055 46.3704C135.111 46.3704 136.941 46.7703 138.544 47.5733C140.131 48.3747 141.394 49.4752 142.334 50.8749C143.273 52.2729 143.742 53.8597 143.742 55.6353V62.699C143.742 64.4729 143.289 66.0597 142.366 67.4594C141.443 68.8574 140.18 69.958 138.56 70.761C136.957 71.5623 135.111 71.9638 133.055 71.9638ZM134.058 66.6403C136.358 66.6403 138.204 65.9398 139.613 64.5418C141.022 63.1421 141.718 61.3505 141.718 59.1671C141.718 57.6986 141.394 56.403 140.763 55.2769C140.115 54.1508 139.224 53.2711 138.091 52.6408C136.941 52.009 135.597 51.6938 134.058 51.6938C132.552 51.6938 131.241 52.009 130.091 52.6408C128.941 53.2711 128.051 54.1508 127.387 55.2769C126.739 56.403 126.399 57.6986 126.399 59.1671C126.399 60.6339 126.739 61.9312 127.387 63.0573C128.051 64.1834 128.941 65.0616 130.091 65.6934C131.241 66.3237 132.552 66.6403 134.058 66.6403ZM141.329 71.452V64.8488L142.399 58.86L141.329 52.9223V46.8822H147.515V71.452H141.329Z"
              fill="#02007E"></path>
            <path
              d="M172.907 71.452V57.2732C172.907 55.6352 172.324 54.2868 171.19 53.2294C170.04 52.1705 168.566 51.6426 166.785 51.6426C165.554 51.6426 164.486 51.881 163.546 52.3593C162.623 52.8359 161.879 53.5013 161.361 54.3555C160.843 55.2081 160.567 56.1807 160.567 57.2732L158.155 56.0447C158.155 54.1668 158.607 52.5033 159.498 51.054C160.405 49.6032 161.652 48.4594 163.239 47.6244C164.826 46.7879 166.64 46.3704 168.648 46.3704C170.656 46.3704 172.453 46.8391 174.024 47.778C175.595 48.7154 176.841 49.9279 177.748 51.4123C178.639 52.8967 179.093 54.4403 179.093 56.0447V71.452H172.907ZM154.381 71.452V46.8822H160.567V71.452H154.381Z"
              fill="#02007E"></path>
            <path
              d="M203.918 71.452V57.2732C203.918 55.6352 203.351 54.2868 202.201 53.2294C201.052 52.1705 199.595 51.6426 197.797 51.6426C196.566 51.6426 195.498 51.881 194.558 52.3593C193.635 52.8359 192.907 53.5013 192.372 54.3555C191.854 55.2081 191.595 56.1807 191.595 57.2732L189.166 56.0447C189.166 54.1668 189.619 52.5033 190.526 51.054C191.416 49.6032 192.663 48.4594 194.25 47.6244C195.853 46.7879 197.651 46.3704 199.659 46.3704C201.667 46.3704 203.465 46.8391 205.035 47.778C206.622 48.7154 207.853 49.9279 208.76 51.4123C209.651 52.8967 210.104 54.4403 210.104 56.0447V71.452H203.918ZM185.393 71.452V46.8822H191.595V71.452H185.393Z"
              fill="#02007E"></path>
            <path
              d="M228.97 71.9638C226.265 71.9638 223.836 71.4088 221.666 70.3002C219.512 69.1901 217.811 67.6641 216.548 65.719C215.301 63.7739 214.67 61.5888 214.67 59.1671C214.67 56.7437 215.286 54.5683 216.533 52.6408C217.763 50.7117 219.447 49.1857 221.569 48.0596C223.69 46.9335 226.039 46.3704 228.63 46.3704C231.14 46.3704 233.358 46.8982 235.301 47.9572C237.228 49.0145 238.75 50.4654 239.851 52.3081C240.969 54.1508 241.52 56.2494 241.52 58.604C241.52 59.0135 241.487 59.431 241.438 59.8581C241.373 60.2836 241.293 60.7539 241.18 61.2657H218.994V56.6589H237.973L235.657 58.5017C235.593 56.9997 235.269 55.7376 234.702 54.7138C234.135 53.6901 233.342 52.9047 232.321 52.3593C231.285 51.8122 230.022 51.5402 228.516 51.5402C226.929 51.5402 225.568 51.8474 224.402 52.4617C223.236 53.0759 222.346 53.9364 221.698 55.0466C221.067 56.1551 220.743 57.478 220.743 59.0136C220.743 60.5492 221.083 61.896 221.763 63.0573C222.427 64.217 223.399 65.1127 224.629 65.7446C225.86 66.3748 227.285 66.6916 228.905 66.6916C230.297 66.6916 231.576 66.4692 232.759 66.0261C233.941 65.5815 234.945 64.9336 235.77 64.081L239.722 67.7153C238.394 69.1133 236.807 70.1722 234.928 70.8889C233.05 71.6055 231.059 71.9638 228.97 71.9638Z"
              fill="#02007E"></path>
            <path
              d="M246.474 71.452V46.8822H252.661V71.452H246.474ZM252.661 57.7851L250.523 56.8125C250.523 53.7061 251.284 51.19 252.806 49.2625C254.328 47.3334 256.612 46.3704 259.705 46.3704C261.049 46.3704 262.263 46.5911 263.364 47.0358C264.449 47.4789 265.454 48.1955 266.393 49.1857L262.344 52.9736C261.859 52.4953 261.308 52.1545 260.708 51.9498C260.109 51.745 259.413 51.6426 258.636 51.6426C256.903 51.6426 255.478 52.1369 254.345 53.127C253.227 54.1156 252.661 55.6688 252.661 57.7851Z"
              fill="#02007E"></path>
            <defs>
              <linearGradient
                id="paint0_linear_261_136"
                x1="18.1537"
                y1="61.1395"
                x2="12.3685"
                y2="68.5567"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-opacity="0.37"></stop>
                <stop offset="1" stop-color="#4D4D4D" stop-opacity="0.24"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>
      <h1>
        <span class="h1-span-color-purple">Bedankt voor je aanmelding!</span><br />
      </h1>
    </header>
    <section class="bedankt-txt-wrapper">
      <p>We houden je op de hoogte van het laatste nieuws over PGB Planner.<br>
Wil je ons helpen nóg beter te worden? Vul dan <span class="inline-link-wrapper"><a class="inline-link" href="/vragenlijst">de korte vragenlijst</a></span> in, het kost je maar 2 minuten.</p>
    </section>
  </main>
</BaseLayout>
