---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bedankt voor het aanmelden">
  <main>
    <header class="margin-top-2">
      <h1 class="font-color-l-blue">
        Bedankt voor het invullen van de vragenlijst!
      </h1>
    </header>
    <section class="bedankt-txt-wrapper">
      <p>
        Je input helpt enorm om PGB Planner beter af te stemmen op wat mensen
        écht nodig hebben bij het beheren van hun PGB.<br />

        Zodra de eerste testversie klaar is, krijg je als een van de eersten een
        update.<br />

        Nogmaals dank voor je tijd en betrokkenheid!
      </p>
    </section>
  </main>
</BaseLayout>
