---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Bedankt voor het aanmelden">
  <main>
    <header class="margin-top-2">
      <h1 class="font-color-l-blue">
        Bedankt voor je aanmelding!
      </h1>
    </header>
    <section class="bedankt-txt-wrapper">
      <p>
        We houden je op de hoogte van het laatste nieuws over PGB Planner.<br />
        Wil je ons helpen nóg beter te worden? Vul dan <span
          class="inline-link-wrapper"
          ><a class="inline-link" href="/vragenlijst">de korte vragenlijst</a
          ></span
        > in, het kost je maar 2 minuten.
      </p>
    </section>
  </main>
</BaseLayout>
