---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lees meer over PGB Planner">
  <section class="">
    <div class="container-small">
      <h2 class="margin-btm-1">Over PGB Planner</h2>
      <p class="margin-btm-2">
        <span class="font-bold"
          >PGB Planner is een nieuwe, praktische tool in ontwikkeling die jou
          helpt om grip te houden op je PGB.</span
        > Geen ingewikkelde Excel-bestanden meer, geen stress over of je nog binnen
        het budget zit, maar één duidelijk overzicht van alle afspraken, uren en
        kosten. <br />

        Deze tool is er niet om de SVB te vervangen, maar juist om je te
        ondersteunen. Alles wat je invoert in PGB Planner blijft van jou. Je
        houdt zelf de regie en gebruikt het als hulpmiddel om makkelijker,
        overzichtelijker en met minder zorgen je PGB te beheren.
      </p>

      <h2 class="margin-btm-1">Waarom PGB Planner?</h2>
      <p class="margin-btm-2">
        Het idee voor PGB Planner is ontstaan vanuit persoonlijke ervaring. Als
        mantelzorger en budgetbeheerder merkte ik hoeveel tijd en energie het
        kost om alles goed bij te houden. Urenregistratie, vakantie-uren,
        afgesproken uurtarieven, prognoses maken, het is allemaal nodig, maar er
        is geen eenvoudige manier om het helder bij elkaar te houden. Daarom ben
        ik begonnen met het bouwen van deze tool, samen met feedback van andere
        mensen uit de praktijk.
      </p>

      <h2 class="margin-btm-1">Jij helpt mee</h2>
      <p class="margin-btm-2">
        We zitten nu in de opstartfase, de tool is nog niet af, maar we bouwen
        hard door. In deze fase willen we zoveel mogelijk input ophalen van
        mensen die écht met een PGB werken. Wat heb jij nodig? Wat werkt nu niet
        goed? Wat zou jij graag terugzien in zo’n tool?<br /><br />

        Wil je meedenken of gewoon op de hoogte blijven van de lancering? Laat
        dan je e-mailadres achter of vul de vragenlijst in. Zo bouwen we samen
        aan iets dat echt werkt.
      </p>

      <div class="buttons-wrapper">
        <a href="/" class="btn btn-primary">Terug</a>
        <a href="/vragenlijst" class="btn btn-secondary">Geef jouw input</a>
      </div>
    </div>
  </section>
</BaseLayout>
