---
interface Props {
  type?:"button" | "submit";
  variant?: "primary" | "secondary";
  children: any;
  [key:string]: any;

}

const {type="button", variant="primary", children, ...attrs} = Astro.props as Props;

const classes = {
  primary:"btn-primary",
  secondary: "btn-secondary",
}[variant] ?? "btn-primary"

---

<button
type={type}
class={`btn ${classes}`}
{...attrs}
>
{children}
</button>