---
const url = new URL(Astro.request.url);
const currentPath = url.pathname;
---

<section class="nav-wrapper">
  <div class="wrapper">
    <div class="nav-container">
      <div class="logo-wrapper">
        <a href="/">
          <svg
            width="303"
            height="95"
            viewBox="0 0 303 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32.9769 1.38219L34.9547 1.36128C64.585 1.36128 79.9169 38.0741 58.8751 59.1159C37.8329 80.1582 1.12012 64.8263 1.12012 35.1959L1.12012 4.04629C1.12012 3.32232 1.40825 2.62881 1.92134 2.11799C2.43398 1.60762 3.12931 1.3222 3.85283 1.32584L16.4875 1.38219H32.9769ZM34.1476 22.1995L27.8419 22.1995L24.6983 22.1854C23.9743 22.1823 23.2795 22.4677 22.7664 22.978C22.2537 23.4889 21.9656 24.1824 21.9656 24.9063L21.9656 35.1305C21.9656 46.4608 36.0045 52.3239 44.0509 44.2776C52.0977 36.2308 46.2346 22.1918 34.9038 22.1918L34.1476 22.1995Z"
              fill="#3B74B4"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M13.2993 67.052H6.99372C6.99372 67.052 5.87347 67.0469 4.61106 67.0414C3.68598 67.0372 2.79722 67.4018 2.14151 68.0546C1.4858 68.7073 1.11719 69.5943 1.11719 70.5196C1.11719 74.0137 1.11719 79.9825 1.11719 79.9825C1.11719 91.3133 15.1563 97.1763 23.2029 89.1296C31.2494 81.0831 25.3864 67.044 14.0557 67.044L13.2993 67.052Z"
              fill="#4BAA96"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M26.4303 83.7325C17.6032 81.3311 9.72183 75.5216 5.18262 67.3135C5.76343 67.1271 6.37468 67.0312 6.99593 67.034H13.3026L14.0593 67.0258C23.1268 67.0258 28.6926 76.017 26.4303 83.7325Z"
              fill="url(#paint0_linear_423_2004)"></path>
            <path
              d="M88.5526 25.0985V21.8469H93.7528C94.4485 21.8469 95.0523 21.7187 95.6016 21.4623C96.1508 21.206 96.5718 20.8381 96.9014 20.3547C97.2126 19.8714 97.3779 19.2929 97.3779 18.6173C97.3779 17.9417 97.2126 17.3613 96.9014 16.8779C96.5718 16.3964 96.1508 16.0266 95.6016 15.7703C95.0523 15.5158 94.4485 15.3876 93.7528 15.3876H88.5526V12.136H94.2105C95.6203 12.136 96.9016 12.3997 98.0367 12.9306C99.1535 13.4597 100.051 14.2085 100.71 15.1734C101.369 16.1401 101.698 17.2862 101.698 18.6117C101.698 19.9336 101.369 21.0797 100.71 22.0519C100.051 23.0223 99.1535 23.7729 98.0367 24.3038C96.9016 24.8329 95.6203 25.0985 94.2105 25.0985H88.5526ZM85.3853 32.7295V12.136H89.7067V32.7295H85.3853Z"
              fill="#4B5563"></path>
            <path
              d="M115.32 33.0373C113.727 33.0373 112.244 32.7645 110.853 32.2208C109.461 31.6752 108.235 30.9191 107.191 29.9505C106.148 28.9802 105.342 27.8523 104.738 26.5671C104.152 25.28 103.859 23.894 103.859 22.411C103.859 20.9207 104.152 19.5366 104.756 18.2586C105.36 16.9789 106.185 15.8566 107.247 14.8899C108.309 13.9232 109.553 13.1708 110.981 12.6343C112.409 12.096 113.929 11.8287 115.577 11.8287C117.426 11.8287 119.128 12.1454 120.666 12.7807C122.204 13.4142 123.486 14.3058 124.511 15.4538L121.581 18.1562C120.886 17.3011 120.025 16.6512 118.982 16.2045C117.957 15.7578 116.803 15.5344 115.558 15.5344C114.13 15.5344 112.867 15.8218 111.768 16.3985C110.67 16.9734 109.828 17.7772 109.205 18.808C108.601 19.8369 108.29 21.0361 108.29 22.4037C108.29 23.7696 108.601 24.9742 109.205 26.0142C109.81 27.0541 110.651 27.8669 111.695 28.4528C112.739 29.0387 113.947 29.3317 115.283 29.3317C116.693 29.3317 117.884 29.0937 118.891 28.6176C119.898 28.1416 120.666 27.4386 121.197 26.5085C121.728 25.5785 121.985 24.4415 121.985 23.0995L124.804 24.879L115.028 24.8058V21.3272H126.434V21.8984C126.434 24.3536 125.957 26.4096 125.005 28.0647C124.035 29.7198 122.735 30.9611 121.069 31.7923C119.385 32.6217 117.48 33.0373 115.32 33.0373Z"
              fill="#4B5563"></path>
            <path
              d="M132.914 32.7295V29.4779H138.755C139.799 29.4779 140.622 29.1849 141.208 28.6027C141.776 28.0187 142.068 27.3248 142.068 26.5192C142.068 25.9773 141.94 25.4792 141.684 25.0288C141.409 24.5766 141.044 24.2196 140.549 23.956C140.055 23.6923 139.451 23.5605 138.755 23.5605H132.914V20.3529H138.279C139.176 20.3529 139.871 20.1442 140.421 19.7304C140.952 19.3148 141.226 18.6941 141.226 17.8703C141.226 17.0445 140.952 16.4239 140.421 16.0101C139.871 15.5945 139.176 15.3876 138.279 15.3876H132.914V12.136H138.792C140.275 12.136 141.519 12.385 142.526 12.8867C143.515 13.3865 144.284 14.0401 144.779 14.8493C145.291 15.6567 145.548 16.5393 145.548 17.4968C145.548 18.6722 145.162 19.6864 144.393 20.536C143.624 21.3855 142.49 22.0171 141.007 22.4327L141.208 21.1365C142.856 21.5649 144.137 22.2734 145.034 23.2602C145.931 24.2452 146.39 25.4317 146.39 26.8195C146.39 27.9125 146.097 28.9048 145.511 29.7964C144.925 30.6862 144.083 31.3984 142.966 31.9312C141.849 32.4621 140.494 32.7295 138.92 32.7295H132.914ZM129.747 32.7295V12.136H134.049V32.7295H129.747Z"
              fill="#4B5563"></path>
            <path
              d="M90.4147 66.3153V60.4567H101.546C103.048 60.4567 104.403 60.1765 105.575 59.6181C106.746 59.0597 107.68 58.2633 108.358 57.2289C109.035 56.1963 109.382 54.9678 109.382 53.5434C109.382 52.119 109.035 50.8886 108.358 49.8559C107.68 48.8215 106.746 48.0269 105.575 47.4667C104.403 46.9083 103.048 46.6301 101.546 46.6301H90.4147V40.7713H101.931C104.732 40.7713 107.241 41.2986 109.474 42.3532C111.708 43.4078 113.465 44.8871 114.747 46.793C116.047 48.7007 116.688 50.9453 116.688 53.5323C116.688 56.1175 116.047 58.3658 114.747 60.2809C113.465 62.1941 111.708 63.679 109.474 64.7335C107.241 65.7881 104.732 66.3153 101.931 66.3153H90.4147ZM85.3799 81.7825V40.7713H92.7033V81.7825H85.3799Z"
              fill="#4B5563"></path>
            <path
              d="M129.859 39.5994H122.858V81.7824H129.859V39.5994Z"
              fill="#4B5563"></path>
            <path
              d="M150.431 82.3682C147.667 82.3682 145.176 81.7238 142.942 80.4349C140.709 79.1459 138.951 77.3974 137.67 75.1913C136.37 72.9833 135.729 70.5135 135.729 67.78C135.729 65.0063 136.37 62.5163 137.67 60.3101C138.951 58.1021 140.709 56.3445 142.942 55.0372C145.176 53.7282 147.667 53.0745 150.431 53.0745C152.756 53.0745 154.825 53.5323 156.637 54.4514C158.431 55.3686 159.86 56.6283 160.922 58.2303C161.984 59.8304 162.514 61.6467 162.514 63.6789V71.7639C162.514 73.7943 162.002 75.6105 160.959 77.2125C159.915 78.8127 158.487 80.0724 156.656 80.9915C154.843 81.9087 152.756 82.3682 150.431 82.3682ZM151.566 76.2751C154.166 76.2751 156.253 75.4733 157.846 73.8731C159.439 72.2711 160.226 70.2205 160.226 67.7214C160.226 66.0406 159.86 64.5576 159.146 63.2687C158.413 61.9798 157.407 60.9729 156.125 60.2515C154.825 59.5284 153.305 59.1676 151.566 59.1676C149.863 59.1676 148.381 59.5284 147.081 60.2515C145.781 60.9729 144.774 61.9798 144.023 63.2687C143.291 64.5576 142.906 66.0406 142.906 67.7214C142.906 69.4002 143.291 70.8851 144.023 72.174C144.774 73.4629 145.781 74.4681 147.081 75.1913C148.381 75.9126 149.863 76.2751 151.566 76.2751ZM159.787 81.7824V74.2245L160.995 67.3699L159.787 60.5737V53.6604H166.78V81.7824H159.787Z"
              fill="#4B5563"></path>
            <path
              d="M195.488 81.7824V65.5537C195.488 63.6789 194.829 62.1355 193.547 60.9253C192.247 59.7132 190.581 59.1091 188.567 59.1091C187.175 59.1091 185.967 59.3818 184.905 59.9293C183.861 60.4749 183.02 61.2365 182.434 62.2142C181.848 63.19 181.537 64.3032 181.537 65.5537L178.809 64.1476C178.809 61.9982 179.321 60.0941 180.328 58.4353C181.353 56.7748 182.763 55.4656 184.557 54.5099C186.351 53.5524 188.403 53.0745 190.673 53.0745C192.943 53.0745 194.975 53.611 196.751 54.6857C198.527 55.7586 199.936 57.1464 200.962 58.8454C201.969 60.5445 202.481 62.3112 202.481 64.1476V81.7824H195.488ZM174.543 81.7824V53.6604H181.537V81.7824H174.543Z"
              fill="#4B5563"></path>
            <path
              d="M230.549 81.7824V65.5537C230.549 63.6789 229.908 62.1355 228.608 60.9253C227.308 59.7132 225.661 59.1091 223.629 59.1091C222.237 59.1091 221.029 59.3818 219.967 59.9293C218.923 60.4749 218.099 61.2365 217.495 62.2142C216.909 63.19 216.616 64.3032 216.616 65.5537L213.87 64.1476C213.87 61.9982 214.382 60.0941 215.408 58.4353C216.415 56.7748 217.824 55.4656 219.618 54.5099C221.431 53.5524 223.464 53.0745 225.734 53.0745C228.004 53.0745 230.036 53.611 231.812 54.6857C233.606 55.7586 234.998 57.1464 236.024 58.8454C237.03 60.5445 237.542 62.3112 237.542 64.1476V81.7824H230.549ZM209.604 81.7824V53.6604H216.616V81.7824H209.604Z"
              fill="#4B5563"></path>
            <path
              d="M258.872 82.3682C255.815 82.3682 253.068 81.7329 250.615 80.4641C248.179 79.1935 246.257 77.4469 244.829 75.2205C243.419 72.9942 242.706 70.4933 242.706 67.7214C242.706 64.9476 243.401 62.4577 244.811 60.2515C246.202 58.0435 248.106 56.2969 250.505 55.008C252.903 53.719 255.558 53.0745 258.488 53.0745C261.326 53.0745 263.833 53.6787 266.03 54.8907C268.209 56.1009 269.93 57.7616 271.175 59.8707C272.438 61.9799 273.061 64.3819 273.061 67.0769C273.061 67.5456 273.024 68.0235 272.969 68.5123C272.896 68.9993 272.805 69.5376 272.677 70.1235H247.594V64.8506H269.051L266.433 66.9598C266.36 65.2406 265.994 63.796 265.353 62.6243C264.713 61.4525 263.815 60.5536 262.662 59.9293C261.49 59.3031 260.062 58.9918 258.359 58.9918C256.565 58.9918 255.027 59.3434 253.709 60.0465C252.39 60.7495 251.384 61.7345 250.651 63.0051C249.937 64.2739 249.571 65.7881 249.571 67.5457C249.571 69.3033 249.956 70.8448 250.724 72.174C251.475 73.5014 252.574 74.5266 253.965 75.2498C255.357 75.9712 256.968 76.3338 258.799 76.3338C260.373 76.3338 261.82 76.0792 263.156 75.5721C264.493 75.0631 265.627 74.3216 266.561 73.3458L271.028 77.5054C269.527 79.1056 267.733 80.3176 265.609 81.1379C263.485 81.9581 261.234 82.3682 258.872 82.3682Z"
              fill="#4B5563"></path>
            <path
              d="M278.663 81.7824V53.6604H285.658V81.7824H278.663ZM285.658 66.1396L283.24 65.0264C283.24 61.4708 284.101 58.591 285.822 56.3848C287.543 54.1768 290.125 53.0745 293.622 53.0745C295.142 53.0745 296.514 53.3272 297.759 53.8362C298.986 54.3433 300.121 55.1635 301.183 56.2968L296.606 60.6324C296.057 60.085 295.434 59.695 294.756 59.4606C294.079 59.2263 293.292 59.1091 292.413 59.1091C290.454 59.1091 288.843 59.6747 287.562 60.808C286.298 61.9395 285.658 63.7174 285.658 66.1396Z"
              fill="#4B5563"></path>
            <defs>
              <linearGradient
                id="paint0_linear_423_2004"
                x1="20.5245"
                y1="69.9789"
                x2="13.8835"
                y2="78.3894"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-opacity="0.37"></stop>
                <stop offset="1" stop-color="#4D4D4D" stop-opacity="0.24"
                ></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>
      <div class="menu-wrapper">
        <button
          class="hamburger"
          id="hamburger-button"
          aria-label="Toggle navigation"
        >
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </div>
    </div>
  </div>
</section>
